{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Websites{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('website.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="log_history_table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Base URL</th>
            <th>CSS Selector</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        <tr class="log_history_row">
            <td>{{ record['title'] }}</td>
            <td>{{ record['base_url'] }}</td>
            <td>{{ record['css_selector'] }}</td>
            <td>{{ record['created'] }}</td>
            <td>
                <a class="action" href="{{ url_for('website.update', id=record['id']) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
{% endblock %}