{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ record['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or record['title'] }}" required>
    <label for="base_url">Target URL</label>
    <input name="base_url" id="base_url" value="{{ request.form['base_url'] or record['base_url'] }}" required>
    <label for="css_selector">CSS Selector</label>
    <input name="css_selector" id="css_selector" value="{{ request.form['css_selector'] or record['css_selector']}}"
        required>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('website.delete', id=record['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}