{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ deal['full_title'] }}{% endblock %}</h1>
    {% if g.user['id'] == deal['user_id'] %}
    <a class="action" href="{{ url_for('deal.update', id=deal['id']) }}">Edit</a>
    {% endif %}
    <a class="action" href="{{ url_for('deal.refresh', id=deal['id']) }}">Refresh</a>
{% endblock %}

{% block content %}
<article class="deal">
    <div class="about">by {{ deal['username'] }} on {{ deal['created'].strftime('%Y-%m-%d') }}</div>
    <p class="body"><a href="{{ deal['product_url'] }}">Go to product</a></p>
    <p class="body">
        Latest: {% if deal['latest_deal_text'] %}{{ deal['latest_deal_text'] | format_currency }}{% endif %}
    </p>
    <p class="body">
        Lowest: {% if deal['lowest_deal_text'] %}{{ deal['lowest_deal_text'] | format_currency }}{% endif %}
    </p>
</article>
<hr>
<article class="log_history">
    {{ history_graph | safe }}
</article>
<hr>
<table class="log_history_table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for log in deal_history %}
        <tr class="log_history_row">
            <td>{{ log['created'] }}</td>
            <td>{{ log['deal_text'] | format_currency }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}