{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Deals{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('deal.create') }}">New</a>
<a class="action" href="{{ url_for('deal.refresh') }}">Refresh</a>
{% endif %}
{% endblock %}

{% block content %}
<article class="deal">
    <header>
        <div>
            <h1>{{ deal['title'] }}</h1>
            <div class="about">by {{ deal['username'] }} on {{ deal['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == deal['user_id'] %}
        <a class="action" href="{{ url_for('deal.update', id=deal['id']) }}">Edit</a>
        {% endif %}
        <a class="action" href="{{ url_for('deal.update', id=deal['id']) }}">History</a>
    </header>
    <p class="body">{{ deal['target_url'] }}</p>
</article>
<hr>
{% for log in deal_history %}
<article class="log">
    <p class="body">{{ log['created'] }}</p>
    <p class="body">{{ log['deal_text'] | format_currency }}</p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
<article class="log_history">
    {{ history_graph | safe }}
</article>
{% endblock %}