{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Deals{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('deal.create') }}">New</a>
<a class="action" href="{{ url_for('deal.refresh') }}">Refresh</a>
{% endif %}
{% endblock %}

{% block content %}
{% for deal in deals %}
<article class="deal">
    <header>
        <div>
            <h1><a href="{{ url_for('deal.history', id=deal['id']) }}">{{ deal['full_title'] }}</a></h1>
            <div class="about">by {{ deal['username'] }} on {{ deal['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == deal['user_id'] %}
        <a class="action" href="{{ url_for('deal.update', id=deal['id']) }}">Edit</a>
        {% endif %}
    </header>
    <p class="body"><a href="{{ deal['product_url'] }}">Go to product</a></p>
    <p class="body">
        Latest: {% if deal['latest_deal_text'] %}{{ deal['latest_deal_text'] | format_currency }}{% endif %}
    </p>
    <p class="body">
        Lowest: {% if deal['lowest_deal_text'] %}{{ deal['lowest_deal_text'] | format_currency }}{% endif %}
    </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}