{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit "{{ deal['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or deal['title'] }}" required>
    <label for="website_id">Website</label>
    <select name="website_id" id="website_id" required>
        {% for website in websites %}
        <option value="{{ website['id'] }}"
            {% if website['id'] == request.form['website_id'] %}
                selected 
            {% elif website['id'] == deal['website_id'] %}
                selected
            {% endif %}>
            {{ website['title'] }} - {{ website['base_url'] }}
        </option>
        {% endfor %}
    </select>
    <label for="target_url">Target URL</label>
    <input name="target_url" id="target_url" value="{{ request.form['target_url'] or deal['target_url'] }}" required>
    <input type="submit" value="Save">
</form>
<hr>
<form action="{{ url_for('deal.delete', id=deal['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}