{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Users{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('auth.register') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
<table class="log_history_table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Created</th>
            <th>API</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="log_history_row">
            <td>{{ user['username'] }}</td>
            <td>{{ user['created'] }}</td>
            <td>{{ user['slack_api_key'] }}</td>
            <td>
                <a class="action" href="{{ url_for('user.update', id=user['id']) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr>
{% endblock %}